<section class="cell medium-6 large-4">
    <a class="card" href="/demos/landing" title="Demo landing" data-aos="fade-up">
        <div class="card__image">
            <img class="card__image__img" src="/img/laptop.jpg" alt=""/>
        </div>
        <div class="card__content">
            <h3 class="card__title">Landing</h3>
            <p class="card__text">Simple and clean landing page</p>
        </div>
    </a>
</section>