<header class="header">

    {% include 'partials/nav.html.twig' %}

    <div class="content text-center" data-aos="fade-up">
        <h1>Simple MVC</h1>
        <p class="subtitle lead-2">Let’s start a project!</p>
    </div>

</header>