<div class="screenshot">
    <div class="grid-container" data-aos="fade-up">
        <img class="screenshot__image" src="/img/screenshot.jpg" srcset="/img/screenshot.jpg 1x, /img/screenshot-2x.png 2x" alt=""/>
    </div>
</div>