<section class="grid-container">
    <div class="section">
        {% include 'blocks/txt-img.html.twig' %}
    </div>
    <hr>
    <div class="section-sm">
        {% include 'blocks/features.html.twig' %}
    </div>
</section>