<section class="section-primary">
    <div class="grid-container">
        <div class="section grid-x grid-padding-x">
            <div class="cell medium-6 grid-y align-center" data-aos="fade-up">
                <h2 class="h1">What Else?</h2>
                <p class="lead">Simple MVC is everything you need.</p>
                <div class="grid-x">
                    <a href="/docs" class="button large secondary normal text-white">Documentation</a>
                </div>
            </div>
            <div class="cell medium-6" data-aos="fade-up">
                <img src="/img/screenshot-2x.png" alt="">
            </div>
        </div>
    </div>
</section>