<section class="grid-x grid-padding-x">
    <div class="cell medium-6 grid-y align-center" data-aos="fade-up">
        <h2 class="h1">What is Simple?</h2>
        <p class="lead">Simple MVC is a light PHP framework for educational purpose or small projects, when you don’t need the cavalery.</p>
    </div>
    <div class="cell medium-6" data-aos="fade-up">
        <img class="shadow-2" src="/img/admin-2x.png" alt="">
    </div>
</section>