<section class="section-light">
    <div class="section-lg text-center" data-aos="fade-up">
        <h2 class="h1 margin-bottom-1">The Perfect Starting&nbsp;Point</h2>
        <div class="grid-x align-center">
            <p class="lead-2 small-11 medium-9 large-7">Everything you need at the same place: PHP framework, Content Management System, CSS Framework, templating engine, documentation, and even demos to get started.</p>
        </div>
    </div>
</section>