<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/demo.css">
        <title>{% block title %}Simple Demo{% endblock %}</title>
    </head>
    <body>

        {% block content %}{% endblock %}

        {% include 'partials/scripts.html.twig' %}

    </body>
</html>